/*! Building Interfaces HTML5 template */

* {
    box-sizing: border-box;
}



/* ==========================================================================
   Custom styles
   ========================================================================== */


.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
  text-align: left;
}

.wrapper > * {
  padding: 2px;
  flex: 1 100%;
}


.instructions {
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin-bottom: 10px;
}

.nav {
    background: #00A388;
    padding: 20px;
}

.footer {
    background: #00A388;
    padding: 20px;
}

.help {
  background: #FFFFFF;
  text-align: center;
}

.main {
  text-align: left;
  background: #FFFFFF;
  padding-bottom: 10px;
}


.img-center {
    text-align: center;
    max-width:100%;
}

.img-help {
    text-align: center;
    max-width:100%;
}


body {
  padding: 2em; 
}

h1 {

    font-family: 'Pacifico', cursive;
    font-size: 48px;
    text-align: left;
    color: #666666;
    vertical-align: text-top;
    margin: 0;
    padding: 2px;
}

h2 {

    font-family: Arial;
    font-size: 22px;
    text-align: left;
    color: #00A388;
    vertical-align: text-top;
}


p {
    font-family: arial;
    font-size: 16px;
}


p.social {
    text-align: right;
    padding: 0px;
}

p.tags {
  text-align: left;
  color: #666666;
  padding: 0px;
  margin: 2px;
}

p.description {
  text-align: left;
  color: #666666;
  padding: 0px;
  margin: 2px;
}

a {
  color: #00A388;

}

img.center {

    margin-left: auto;
    margin-right: auto;
    width: 100%
}

img.help {

    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 188px;
    flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   margin-bottom: 10px;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    font-size:14px;
    background:#ffffff;
    border:#ccc 1px solid;
    margin-right: 20px;
    padding-bottom: 5px;
    margin-bottom: 15px;

    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;

    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 2px #d1d1d1;
}



table td {
    padding:14px;
    text-align: left;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (min-width: 400px) {

  p.social {
    text-align: center;
  }

  h1 {
    text-align: center;
  }
  
  .instructions {
    flex-direction: column;
  }

  p.tags {
  text-align: center;
  }

  p.description {
  text-align: center;
  }

  table.left {
    width: 100%;
  }

  table.right {
    width: 100%;
  }

  img.help {
    width: 30%;
  }

}

@media all and (min-width: 600px) {

  .aside { flex: 1 auto; }

  p.social {
    text-align: right;}

  p.tags {
  text-align: center;
  }

  p.description {
  text-align: center;
  }

  h1 {
    text-align: left;}

  .instructions {
    flex-direction: column;
  }


}

@media all and (min-width: 800px) {

  .main    { flex: 1 0px; }

  .help    { flex: 1 0px; }

  .instructions {
    flex-direction: row;
  }

  .description {
    flex-direction: row;
  }

  p.tags {
  text-align: left;
  }

  p.description {
  text-align: left;
  }

  table.left {
    width: 25%;
  }

  table.right {
    width: 73%;
  }

}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    .comments, nav, form {
        display: none;
    }
}