@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#FC4349;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
  font-family: arial,helvetica;
  color: #333;
  color: rgba(0,0,0,0.5);
}
.wrap{
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  position: relative;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;  
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  
}

a:hover{
opacity: 0.5;
transition: opacity 0.5s ease;
}

h1{
  font-size: 6em;
  font-family: 'Lobster', cursive;
  color: #E74C3C;
}

h2 {
  font-size: 1.5em;
  font-family: 'Abel', sans-serif; font-weight: 400;
  color: #6DBCDB;
  margin-bottom: 14px;
}

h2 a{
  font-family: 'Abel', sans-serif; font-weight: 400;
  color: #6DBCDB;
  margin-bottom: 14px;
}

h2 a:hover{
  font-family: 'Abel', sans-serif; font-weight: 400;
  color: #2C3E50;
  margin-bottom: 14px;
}

h3{
  font-size: 4em;
  font-family: 'Abel', sans-serif; font-weight: 400;
  color: #FFFFFF;
}

p{
  font-family: 'Abel', sans-serif;  
  font-size: 1em;
  color: #666;
  padding-top: .5em;
  padding-bottom: 1em;

}

p.description{
  font-family: 'Abel', sans-serif;  
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  color: #E74C3C;
  padding-bottom: 1em;

}

p.contact{
  font-family: 'Abel', sans-serif;  
  font-size: 1.2em;
  font-weight: bold;
  color: #ffffff;
  padding-bottom: 1em;

}

a.contact {
  color: #2C3E50;
}

.section{
  text-align:center;
}

.box-container {
  padding: 0;
  padding-top: .5em;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: center;
  border-color: #666;
  align-items: stretch;
}

.box-item {
  padding: 7px;
  width: 400px;
  height: 100%;
  margin-top: 10px;
  line-height: 1.5em;
  text-align: center;
}


img.sample {
  width: 100%;
  max-width: 400px;
  padding-bottom: 1em;
}

#menu li {
  display:inline-block;
  margin-right: 0px;
  color: #2C3E50;
  -webkit-border-radius: 10px;
            border-radius: 10px;
  text-transform: uppercase;
  font-size: 1.2em;
  font-family: 'Abel', sans-serif; 

}

#menu li.active{
  color: #fff;
}
#menu li a{
  text-decoration:none;
  color: #2C3E50;
}
#menu li.active a:hover{
  color: #fff;
  font-weight: bold;
}
#menu li:hover{
  color: #fff;
}
#menu li a,
#menu li.active a{
  padding: 9px 5px;
  display:block;
}
#menu li.active a{
  color: #fff;
}

#menu{
  position:fixed;
  top:0;
  left:0;
  height: 40px;
  z-index: 300;
  width: 100%;
  padding-bottom: 1em;
  padding-top: 1em;
  margin:0;
  display: block;
  background: #6DBCDB;
  opacity: .9;
  margin: 0;
  padding: 0;
  padding-top: 1em;
}


#download{
  margin: 10px 0 0 0;
  padding: 15px 10px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear,0 0,0 100%,from( #5bc0de),to( #2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) rgba(0,0,0,.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);

  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
#download a{
  text-decoration:none;
  color:#fff;
}
#download:hover{
  text-shadow: 0 -1px 0 rgba(0,0,0,.25);
  background-color: #E74C3C;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -ms-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
#infoMenu{
  height: 20px;
  color: #f2f2f2;
  position:fixed;
  z-index:70;
  bottom:0;
  width:100%;
  text-align:right;
  font-size:0.9em;
  padding:8px 0 8px 0;
}
#infoMenu ul{
  padding: 0 40px;
}
#infoMenu li a{
  display: block;
  margin: 0 22px 0 0;
  color: #333;
}
#infoMenu li a:hover{
  text-decoration:underline;
}
#infoMenu li{
  display:inline-block;
  position:relative;
}

#mobile {

  width: 100%
  height: 100%;
  margin-top: 10px;
  text-align: center;
  color: #fff;
  display: block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */


/* Wide */
@media (min-width: 768px) {
  #menu{
  height: 40px;
}

#menu li {
  margin-right: 10px;

}

#mobile {
  display: none;
}

.desktop-visible {
  display: block;
}

}

/* Intermediate */
@media (max-width: 850px) {

h1{
    font-size: 6em;
  }

.box {
    flex-direction: row;
    padding: 0px;
    width:50%
  }

#menu{
  height: 80px;
}

#menu li {
  margin: 0;
  padding: 0;
  line-height: 0;
  margin-right: 10px;  
}

#mobile{
  display: none;

}

.desktop-visible {
  display: block;
}

}

/* Mobile */
@media (max-width: 400px) {

h1{
    font-size: 4em;
    padding-top: 1em;
  }

.box {
    flex-direction: column;
    padding: 0px;
    width:100%;
  }

#menu{
  height: 75px;
}

#menu li {
  margin-right: 2px;
}

.desktop-visible {
  display: none;
}

#mobile {
display: block;
}


}



/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}